* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #2F2E41;
}

/* nav {
  margin-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link{
  border-radius: 10px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #FF93A8;
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: white;
  background-color: #FF6584;
  border: 1px solid #FF6584;
  cursor: default;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover{
  color: white;
} */


.title .subtitle {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  text-align: center;
}

body {
 /*   border: 10px solid green;*/
}

#upload-form {
  height: 60vh;
  max-height: 400px;
  margin: .9rem;
}

object {
  margin-bottom: .9rem;
}

.title {
  font-weight: 700;
}

.input-file-container{
  border: .7rem solid #FF93A8;
  background-color: #FF6584;
  border-radius: 20px;
  height: 100%;
  /* position: relative; */
}

.input-label, .upload-button, .detect-button {
  background-color: #FFFFFF;
  color: #FF6584;
  padding: .75rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin: .25rem;
  min-width: 125px;
}

.detect-button {
  background-color: #FF6584;
  color: #FFFFFF;
}

.uploaded-file, .detected-file {
  max-width: 640px;
  height: auto;
}

canvas {
  z-index: 10;
}

.Dropzone-img {
  max-width: calc(100vw - 60px);
  max-height: calc(100vw - 60px);
  width: 640px;
  height: 640px;
  border: thin solid rgba(64, 64, 64, 0.15);
  border-radius: 4px;
  object-fit: cover;
}

.Dropzone {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: thin dashed #c2c2c2;
  background: #fcfcfc;
  max-width: calc(100vw - 40px);
  max-height: calc(100vw - 40px);
  width: 660px;
  height: 660px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.Dropzone-page {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prediction {
  max-width: calc(100vw - 40px);
  width: 320;
  height: 320;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

#canvas {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}